/* Table of Contents for Display Grid Workshop: Layout Example
  A) Global Setup
  1) Container
  2) Tags
*/

/* A) Global Setup */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* - */

/* 1) Container (Grid Wrapper) */
.container {
}

/* 2) Tags */
header {
  background-color: lightcoral;
  height: 5vh;
}

aside {
  background-color: lightblue;
  height: 70vh;
}

section {
  background-color: lightgray;
  height: 80vh;
}

footer {
  background-color: lightslategrey;
  height: 15vh;
}
