/* Table of Contents for Display Grid Workshop
  A) Global Setup
  1) Container
  2) Boxes
  3) Color Options
*/

/* A) Global Setup */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
}
/* - */

/* 1) Container (Grid Wrapper) */
.container {
  /* filler */
  background: url(painting-backdrop.jpg) no-repeat;
  background-size: contain;
  width: 1000px;
  height: 605px;
  margin: 0 auto;
  /* - */
}

/* 2) Boxes  */
[class*="box-"] {
  background-color: var(--box-background);
  color: var(--font-color);
  opacity: 0.5; /* So we can see the image behind it */
}

.box-1 {
}

.box-2 {
}

.box-3 {
}

.box-4 {
}

.box-5 {
}

.box-6 {
}

.box-7 {
}

.box-8 {
}

.box-9 {
}

.box-10 {
}

.box-11 {
}

.box-12 {
}

/* 3) Color Options */
.red {
  --box-background: red;
}

.blue {
  --box-background: blue;
  --font-color: white;
}

.yellow {
  --box-background: yellow;
}
